                                      /* normalize */
body {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: #000;
}
                                        /* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}
                                             /* Header */
.header {
    padding: 20px 10px;
    background-color: #6e6b6b;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    border-radius: 50%;
    width: 90px;
    height: 90px;

}

.nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 16px;
    
}

.nav a {
    color: #9c9999;
    font-weight: 400;
    /* text-shadow:  #000; */
    
    transition: linear 0.2s;
}

.nav a:hover {
    color: #d1cfcf;
    /* text-shadow: 1px 2px 1px #000; */
}