body {
    font-size: 1.375rem;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    /* position: relative; */
}

p {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    position: absolute;
    background-color: transparent;
}

.container {
    width: 100%;
    max-width: 78.125rem;
    margin: 0 auto;

}

.header__inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .625rem 0 .625rem 0;
}

.logo {
    width: 187px;
    height: 68px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.0625rem;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;


}

.mainInfo {

    width: 100%;
    padding: 210px 0;
    background-image: url(img/fon_shapka_1\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main__infoWraper {
    box-sizing: border-box;
    display: flex;
}

.info__name {
    position: relative;
    width: 60%;
    /* width: 770px;
    height: 460px; */
    font-family: Athelas;
    font-size: calc(85px + 58 * (100vw / 769));
    line-height: .9;
    color: rgba(255, 255, 255, 0.08);
}

.info__nameText {
    position: absolute;
    top: 0;
    font-size: 85px;
    color: #fff;
    line-height: 1.3;
    font-weight: 400;
    padding-top: 100px;
    padding-left: 22px;
}


.watch__video {
    position: absolute;
    top: 365px;
    display: flex;
    align-items: center;
    /* margin-top: 52px; */
    margin-left: 415px;
}

.watch__videoText {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}

.info__watch {
    width: 40%;
}







/* .pipa {
    width: 500px;
    height: 200px;
    background-color: aquamarine;
    position: relative;
}
.pupa {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 48px;
    font-weight: 900;
    color: blue;

} */