.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
}
.zone__1 {
    width: 500px;
    height: 200px;
    border: solid 1px red;
    margin-bottom: 20px;
}
.zone__2 {
    width: 500px;
    height: 200px;
    border: solid 1px red;
}
.zone__2 img {

}