@font-face {
    font-family: "proxima-nova-regular";
    src: url("../css/fonts/proxima-nova-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "proxima-nova-semibold";
    src: url("../css/fonts/proxima-nova-semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "proxima-nova-bold";
    src: url("../css/fonts/proxima-nova-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

body {

    font-family: "proxima-nova-regular";
    background-color: #282B38;
    color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #979595;
    transition: all .3s ease;

}

a:hover {
    color: #fff;
}

button {
    border: none;
}

.container {
    width: 100%;
    padding: 0 10px;
    max-width: 1160px;
    margin: 0 auto;
}

.burger {
    display: none;
    display: flex;
    width: 40px;
    height: 30px;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;


}

.burger span {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}

.menu__rel {
    position: relative;
}

.burger__menu {
    display: none;
    width: 100%;
    background: #363A4D;
    box-shadow: 14px 22px 40px 0px rgba(30, 35, 66, 0.28);
    flex-direction: column;
    padding: 20px 0;
    transform: translateY(-100%);


}


.header {
    width: 100%;
    background-color: #282B38;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn__other {
    color: #e9e5e5;
    background-color: #e58d35;
    border-radius: 90px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 0 #E58D35;
    transition: all .1s ease;
    margin: 0 15px;

}

.btn__other:hover {
    box-shadow: rgba(238, 169, 41, 0.24) 0px 3px 8px;
    color: #fff;
}

.header__btn {
    font-family: "proxima-nova-semibold";
    font-size: 15px;
    padding: 14px 27px;
    color: #e9e5e5;
    background-color: #e58d35;
    border-radius: 90px;
    cursor: pointer;
    box-shadow: 0 0 0 #E58D35;
    transition: all .1s ease;
}

.nav {
    display: flex;
    gap: 25px;
}









/* Slider */

.sliders__container-main {
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
}

.slider__main {
    position: relative;
    margin-top: 84px;
}

.slider__main-item {
    overflow: hidden;

}

.slider__main-item>img {
    width: 100%;
    min-height: 700px;
    object-fit: none;
    object-position: 45%;
}

.slider__main .slick-arrow {
    width: 15px;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 0;
    border: none;
    cursor: pointer;
}

.slider__main .slick-arrow.slick-next {
    right: 100px;
    background: url(../img/right.png) center center no-repeat;
    background-size: cover;
}

.slider__main .slick-arrow.slick-prev {
    left: 100px;
    background: url(../img/left.png) center center no-repeat;
    background-size: cover;
}

.slider__main .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.slider__main .slick-dots li {
    list-style: none;
    padding: 0 8px;

}

.slider__main .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: solid 1px #fff;

}

.slider__main .slick-dots li.slick-active button {
    background-color: #fff;

}














/* slider__why */
.whySlider {
    display: none;
}

.slider__why {
    position: relative;
    padding-bottom: 60px;
}

.why__itemList {
    text-align: -webkit-center;

}

.slider__why .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

}

.slider__why .slick-dots li {
    list-style: none;
    padding: 0 8px;

}

.slider__why .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: solid 1px #fff;

}

.slider__why .slick-dots li.slick-active button {
    background-color: #fff;

}










.slid1__content {
    position: absolute;
    z-index: 2;
    max-width: 463px;
    top: 20%;
    left: 13vw;
}

.rel {
    position: relative;
}

.rel2 {
    position: relative;
}

.rel3 {
    position: relative;
}

.rel4 {
    position: relative;
}

.rel5 {
    position: relative;
}

.slide__title {
    font-size: "proxima-nova-bold";
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    padding: 0 20px;
}

.slide__info {
    font-family: "proxima-nova-regular";
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
    padding: 0 20px;
    margin: 8px 0 37px 0;
}

.sliderSlick__btn {
    font-family: "proxima-nova-semibold";
    font-size: 16px;
    width: 293px;
    padding: 23px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnSlider__centr {
    display: flex;
    justify-content: start;
}

.btn__other.sliderSlick__btn img {
    width: 27px;
    height: 27px;
}


.section__title {
    font-family: "proxima-nova-bold";
    padding: 0 15px;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: start;
    margin-top: 90px;
    margin-bottom: 62px;


}


.section__title span {
    display: inline-block;
    width: 85px;
    height: 2px;
    background-color: #89C249;
    margin-left: 10px;
    margin-bottom: 10px;
}



.price__inner {
    margin-bottom: 95px;
}

.input__wrapper {

    position: relative;
    max-width: 626px;
    padding: 70px 50px 40px 50px;
    background-color: #363A4D;
    border-radius: 30px;
}

.flex__wrapper {
    display: flex;
    gap: 30px;
}

.input__inner1 {
    flex-basis: 50%;
}

.input__inner2 {
    flex-basis: 50%;
}

.input__container {
    text-align: start;
}

.input__title {
    display: flex;
    font-family: "proxima-nova-semibold";
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 6px;

}


.input__price::placeholder {
    color: #CBCBCB;
    font-family: "proxima-nova-regular";
    font-size: 15px;
    line-height: 1.2;


}

.input__price {
    border-radius: 10px;
    min-width: 248px;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 20px;

}


.check__style {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.check__style+label {
    display: flex;
    align-items: center;
    user-select: none;

}

.check__style+label:not(:last-child) {
    margin: 20px 0;
}

.check__style+label::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #282B38;
    font-family: "proxima-nova-semibold";
    font-size: 15px;
    line-height: 1.2;
    margin-right: 9px;



}

.check__style:checked+label::before {
    color: #282B38;
    background-image: url(../img/checked\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили при наведении курсора на checkbox */
.check__style-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.check__style:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;

}

/* стили для чекбокса, находящегося в фокусе */
/* .check__style:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  } */
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.check__style:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.check__style:disabled+label::before {
    background-color: #e9ecef;
}

.calculate__span {
    font-family: "proxima-nova-regular";
    color: #E58D35;
    font-size: 14px;
    line-height: 1.2;
    text-decoration-line: underline;
    margin-left: 50px;

}

.downloadFoto__title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.delete__foto {
    color: #E53535;
    font-size: 13px;
    font-family: "proxima-nova-regular";
    line-height: 1.2;
    text-decoration-line: underline;
    opacity: .8;
    transition: opacity .1s ease;
}

.delete__foto:hover {
    color: #E53535;
    opacity: 1;
}

.downloadFoto__input {
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 1px dashed rgba(255, 255, 255, 0.26);
    font-size: 15px;
    padding: 15px 0;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 26px;
    cursor: pointer;

}


input[type="file"] {
    display: none;
}

.box__Circle {
    display: flex;
    gap: 40px;
    position: absolute;
    top: -30px;
}

.step__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "proxima-nova-bold";
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 90px;
}

.input__man {
    position: absolute;
    top: -202px;
    left: 570px;
}

.section__why {
    max-width: 1820px;
    /* flex-shrink: 0; */
    border-radius: 20px;
    padding: 90px 0;
    background: linear-gradient(0deg, #363A4D 0%, #363A4D 100%), #F7F7F7;
    margin: 0 auto;
    margin-bottom: 97px;

}

.sectionWhy__title {

    text-align: center;
    font-size: 36px;
    font-family: "proxima-nova-bold";
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.span__orange {
    width: 85px;
    height: 2px;
    background-color: #E58D35;
    margin-bottom: 48px;

}

.flex__titleHR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__wrapper {

    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}

.why__item {

    display: flex;
    flex: 1 1 263px;
    flex-direction: column;
    align-items: center;

    /* max-width: 263px; */
}

.why__oreol {

    height: 113px;
    width: 113px;
    border-radius: 90px;
    border: 1px solid #6C7188;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;

}

.oreol__bg {
    width: 93px;
    height: 93px;
    border-radius: 90px;
    background-color: #89C249;
    box-shadow: 0px 4px 13px 0px rgba(30, 35, 66, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__info {
    font-family: "proxima-nova-regular";
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    padding: 0 30px;
}

.span__green {

    width: 85px;
    height: 2px;
    background-color: #89C249;
    margin-bottom: 49px;

}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.sliders__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sliders {
    position: relative;
    display: flex;


}

.slider__item {
    padding: 0 15px 0;

}

.slider__wrapper {
    overflow: hidden;
    height: 492px;
    border-radius: 20px;
    background-color: #363A4D;
}

.slider__wrapper img {
    width: 100%;
    object-fit: cover;
}

.sliders .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -11%;
    left: 50%;
    transform: translateX(-50%);

}

.sliders .slick-dots li {
    list-style: none;
    padding: 0 8px;

}

.sliders .slick-dots button {
    width: 10px;
    height: 10px;
    font-size: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: solid 1px #fff;

}

.sliders .slick-dots li.slick-active button {
    background-color: #fff;

}

.sliders .slick-arrow {
    width: 30px;
    height: 50px;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 0;
    border: none;
    cursor: pointer;
}

.sliders .slick-arrow.slick-next {
    right: -75px;
    background: url(../img/right.png) center center no-repeat;
    background-size: cover;
}

.sliders .slick-arrow.slick-prev {
    left: -80px;
    background: url(../img/left.png) center center no-repeat;
    background-size: cover;
}

.card__title {
    text-align: center;
    margin: 27px 0 13px;
    font-family: "proxima-nova-bold";
    font-size: 22px;
    line-height: 1.2;
}

.card__info {
    text-align: center;
    margin-bottom: 15px;
}

.card__info img {
    width: 22px;
    height: 22px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.card__info img:last-child {
    margin-left: 20px;
}

.card__price {
    font-size: 22px;
    text-align: center;
    margin-bottom: 18px;
}

.card__price strong {
    font-family: "proxima-nova-bold";
    font-size: 56px;
}

.card__price span {
    opacity: .5;
}

.btn__block {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 27px;
}

.btn__details {
    font-family: "proxima-nova-semibold";
    font-size: 15px;
    padding: 14px 27px;
    color: #e9e5e5;
    background-color: transparent;
    border-radius: 90px;
    border: 1px solid #E58D35;
    cursor: pointer;
    box-shadow: 0 0 0 #E58D35;
    transition: all .1s ease;
}

.btn__details:hover {
    box-shadow: rgba(238, 169, 41, 0.24) 0px 3px 8px;
    color: #fff;
}


/* Section__sliders--second */

.sliders__second {
    max-width: 1820px;
    margin: 0 auto;

    border-radius: 20px;
    background: linear-gradient(0deg, #363A4D 0%, #363A4D 100%), #F7F7F7;
    margin-top: 100px;
    margin-bottom: 62px;
    padding: 100px 0;

}

.slider__wrapper--second {
    overflow: hidden;
    height: 479px;
    border-radius: 20px;
    position: relative;
}

.slider__wrapper--second img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__info--absolute {
    position: absolute;
    top: 223px;
    left: 30px;
    z-index: 9;
}

.card__info--absolute>.card__title {
    text-align: left;
}

.card__info--sliderSecond {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 14px;
}

.aboutUs__inner {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 90px;
}

.aboutUs__info>.sectionWhy__title {
    text-align: left;
    margin-top: 55px;
}

.aboutUs__info>.circle__info,
p:not(:last-child) {
    padding: 0;
    padding-right: 35px;
    text-align: left;
    margin-bottom: 20px;
}

.cirle__gray {
    width: 550px;
    height: 550px;
    border-radius: 900px;
    background-color: #363A4D;
}

.aboutUs__folder {
    position: relative;
}

.folder {

    height: 548px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 55px;
}

.folder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.questions__inner {
    display: flex;
    flex-wrap: nowrap;
}

.questions__tabs {}

.questions__input {}
























@media (max-width:1250px) {
    .aboutUs__inner {
        flex-wrap: wrap;
        gap: 35px;
        justify-content: center;
    }

    .aboutUs__folder {}

    .aboutUs__info {
        padding: 0 50px;
    }
}

@media (max-width:1195px) {
    .input__man {
        display: none;
    }

    .section__title {
        text-align: center;
    }

    .price__inner {
        display: flex;
        justify-content: center;
    }

    .flex__wrapper {
        flex-wrap: wrap;
    }

    .input__inner1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }


    .input__inner2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }

    .btn__other.sliderSlick__btn {
        margin: 0 auto;

    }


}

@media (max-width:1000px) {}

@media (max-width: 930px) {
    .nav {
        display: none;
    }

    .header__btn {
        display: none;
    }

    .burger {
        display: flex;
    }



    .burger__menu.menu__open {
        display: flex;
        position: fixed;
        z-index: 10;
        animation: fadeInFromNone 0.5s ease-in-out;
        animation-fill-mode: forwards;

    }

    @keyframes fadeInFromNone {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0%);
        }
    }

    .burger__menu {
        display: flex;
        position: fixed;
        z-index: 10;
        animation: fadeOutFromBlock 0.5s ease-in-out;

    }

    @keyframes fadeOutFromBlock {
        0% {
            transform: translateY(0%);

        }

        100% {
            transform: translateY(-100%);
        }
    }

    .burger__menu a {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        line-height: 2.22;
    }

    .burger__menu a:hover {
        color: #979595;
    }

}

@media (max-width:800px) {
    .folder img {
        width: 250px;
        height: 320px;
    }

    .aboutUs__info {
        padding: 0 20px;
    }

    .folder {
        top: -6px;
        left: 30px;
    }

    .cirle__gray {
        width: 300px;
        height: 300px;
    }

}




@media (max-width:550px) {
    .section__why {
        display: none;
    }

    .price__inner {
        margin-bottom: 45px;
    }

    .span__orange {
        margin-bottom: 20px;
    }

    .sectionWhy__title {
        font-size: 30px;
    }

    .whySlider {
        display: block;
    }
}



@media (max-width:508px) {
    .slid1__content {
        top: 10%;
        left: 0;
    }

    .slide__info {
        text-align: center;
    }

    .slide__title {
        font-size: 48px;
        text-align: center;
    }

    .btnSlider__centr {
        justify-content: center;
    }
}

@media (max-width:430px) {
    .input__wrapper {
        padding: 50px 30px 20px;
    }
}