.cont {
    margin: 0 auto;
    max-width: 800px;
}
.anim_circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: darkslateblue;
    transition: 1s;
    
}
.move {
    transform: translateX(400%);
}
.anim_circle2 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(20, 212, 13);
    transition: 1s;
    
}
.move2 {
    transform: translateX(300%);
}
.anim_circle3 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(221, 13, 13);
    transition: 1s;
    
}
.move3 {
    transform: translateX(200%);
}
.anim_circle4 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(231, 24, 180);
    transition: 1s;
    
}
.move4 {
    transform: translateX(100%);
}

.click_circle {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(224, 228, 31);
}