* {
    margin: 0 auto;
    padding: 0;
}
.cont {
    /* width: 200px;
    height: 500px; */
}
.conteiner  {
    display: flex;
    padding-top: 10px;
}
.rol_1 {
    width: 150px;
    height: 100px;
    /* background-image: url(roll_img/1616075176_psfix_201.jpeg);
    background-size: contain;
    background-repeat: no-repeat; */
}
.rol_1 img {
    width: inherit;
    height: inherit;
    /* object-fit: inherit; */
}
.rol_2 img {
    width: inherit;
    height: inherit;
    /* object-fit: inherit; */
}
.rol_2 {
    width: 150px;
    height: 100px;
    /* background-image: url(roll_img/Seafoods_Sushi_511672.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
}
.quantity {
    display: flex;
    background-color: lightblue;
}
.quantity_size {
    cursor: pointer;
    width: 10px;
    height: 20px;
}
.numb {
    background-color: cadetblue;
}
.basket {
    background-color: darkgray;
    width: 220px;
    /* height: 300px; */
    display: flex;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}
.basket_empty {
    width: 220px;
    height: 20px;
    background-color: cadetblue;
}
.none {
    display: none;
}

.orderForm {
    /* display: none; */
    width: 220px;
    height: 30px;
    background-color: darkgray;
    box-shadow: 3px 3px 10px slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_img {
    margin-top: 5px;
    width: 70px;
    height: 50px;
    
}
.item_img img {
    width: inherit;
    height: inherit;
    /* object-fit: inherit; */
}
.item_info {
    width: 120px;
    height: 40px;
}
.quantity_basket {
    display: flex;
}
.add_basket {
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    width: 120px;
    /* height: 20px; */
    background-color: coral;
    border-radius: 2px;
}